body {
    background-color: #FAFAD2;
}

li {
  padding: 5px;
  margin: 5px;
  background: lightblue;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.change-devoured {
  border-radius: 20%;
  font-weight: 800;
  background: #835C3B;
  color: white;
}

.delete-burger {
  border-radius: 20%;
  color: white;
  background: darkgray;
}

.form-group-devoured {
  margin-bottom: 5px;
  display: none;
}